#include "banana.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>


&spi1 {
    compatible = "nordic,nrf-spi";
    status = "okay";
    pinctrl-0 = <&spi1_default_alt>;
    pinctrl-1 = <&spi1_sleep_alt>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;

    pmw3360: pmw3360@0 {
            compatible = "pixart,pmw3360";
            reg = <0>;
            irq-gpios = <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            spi-max-frequency = <2000000>;
            cpi = <600>;
            evt-type = <INPUT_EV_REL>;
            x-input-code = <INPUT_REL_X>;
            y-input-code = <INPUT_REL_Y>;
    };
};

&default_transform { // Offset of 5 because the left side has 5 columns
    col-offset = <5>;
};

&trackball_split {
    device = <&pmw3360>;
    status = "okay";
};