#include "banana.dtsi"
#include <dt-bindings/zmk/pointing.h>

&default_transform { // Offset of 5 because the left side has 5 columns
    col-offset = <5>;
};

&spi1 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    cs-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";

    trackball: pmw3360@0 {
        compatible = "pixart,pmw3360";
        reg = <0>;
        irq-gpios = <&gpio1 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        spi-max-frequency = <2000000>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;

    };
};

&trackball_split {
    device = <&trackball>;
    status = "okay";
};